<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jms="http://www.springframework.org/schema/jms" xmlns:amq="http://activemq.apache.org/schema/core"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:annotation-config />
	<context:component-scan base-package="com.jswiente.phd" />

	<!-- <context:mbean-export /> -->

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:monitor.properties</value>
			</list>
		</property>
		<property name="ignoreUnresolvablePlaceholders" value="true" />
	</bean>

	<bean id="exporter" class="org.springframework.jmx.export.MBeanExporter">
		<!-- notice how no 'beans' are explicitly configured here -->
		<property name="autodetect" value="true" />
		<property name="assembler" ref="assembler" />
		<property name="namingStrategy" ref="namingStrategy" />
		<property name="notificationListenerMappings">
			<map>
				<entry key="performanceMonitor" value-ref="notificationListener" />
			</map>
		</property>
	</bean>

	<bean id="assembler"
		class="org.springframework.jmx.export.assembler.MetadataMBeanInfoAssembler">
		<property name="attributeSource" ref="attributeSource" />
	</bean>


	<bean id="namingStrategy"
		class="org.springframework.jmx.export.naming.MetadataNamingStrategy">
		<property name="attributeSource" ref="attributeSource" />
	</bean>

	<bean id="attributeSource"
		class="org.springframework.jmx.export.annotation.AnnotationJmxAttributeSource" />

<!--
	<bean id="performanceGaugeMonitor" class="com.jswiente.phd.performance.PerformanceGaugeMonitor"
		init-method="init">
		<property name="observedObjectName"
			value="com.jswiente.phd.performance:name=performanceMonitor,type=PerformanceMonitor" />
		<property name="observedAttributeName" value="Throughput" />
	</bean>
-->

	<bean id="performanceMonitor" class="com.jswiente.phd.performance.PerformanceMonitor" />

	<bean id="monitoredService" class="com.jswiente.phd.performance.test.MonitoredService" />

	<bean id="notificationListener" class="com.jswiente.phd.performance.DefaultNotificationListener">
		<property name="controller" ref="delayController" />
	</bean>
	
	<bean id="delayController" class="com.jswiente.phd.performance.test.DelayController" />

</beans>
